<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <title>Paintbox</title>
    <link rel="icon" href="../assets/paintbox/logo.PNG">
    <link rel="stylesheet" href="../dest/css/reset.css">
    <link rel="stylesheet" href="../dest/css/main.paintbox.css">
    <script src="https://kit.fontawesome.com/65adae6064.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header">
        <img class="header__menu" src="../assets/paintbox/menu.PNG">
        <img class="header__logo" src="../assets/paintbox/logo.PNG" width="70px" height="70px">
        <nav class="header__nav">
            <ul class="header__nav--primary">
                <li>Nail Studios</li>
                <li>Shop Polish</li>
            </ul>
            <ul class="header__nav--secondary">
                <li>Journal</li>
            </ul>
        </nav>
        <img class="header__cart" src="../assets/paintbox/cart.PNG" width="45px" height="35px">
    </header>
    <main class="main">
        <section class="book">
            <article class="banner">
                <div class="banner__content">
                    <div class="banner__category">
                        Book Now
                    </div>
                    <div class="banner__title">
                        <p>
                            Finally: both studios will
                            <em>reopen July 6th</em>–save your spot now.
                        </p>
                    </div>
                    <a href="#" class="button">
                        Book Now
                    </a>
                </div>
            </article>
            <article class="halves">
                <div class="halves__picture"></div>
                <div class="halves__contents">
                    <div class="halves__contents--category">
                        The Studio
                    </div>
                    <div class="halves__contents--title">
                        Visit our Soho flagship studio or our new Uptown studio.
                    </div>
                    <a href="#" class="button">
                        Book a manicure
                        <span>
                            <i class="fas fa-arrow-right"></i>
                        </span>
                    </a>
                </div>
            </article>
        </section>
        <section class="shop">
            <article class="newest-arrivals">
                <div class="newest-arrivals__title">
                    <div class="newest-arrivals__category">
                        The Shop
                    </div>
                    <div class="newest-arrivals__subject">
                        Our Newest Arrivals
                    </div>
                </div>
                <div class="newest-arrivals__products">
                    <div class="product">
                        <img src="../assets/paintbox/product1.png" class="product__image" width="220px" height="220px">
                        <div class="product__combo">
                            <div class="product__combo--category">
                                Power Couple
                            </div>
                            <div class="product__combo--title">
                                Like Lush + Like Flora
                            </div>
                            <div class="product__combo--price">
                                $40.00
                            </div>
                        </div>
                        <a href="#" class="button">Add to cart</a>
                    </div>
                    <div class="product">
                        <img src="../assets/paintbox/product2.webp" class="product__image" width="220px" height="220px">
                        <div class="product__combo">
                            <div class="product__combo--category">
                                Power Couple
                            </div>
                            <div class="product__combo--title">
                                Like Mystery + Like Magic
                            </div>
                            <div class="product__combo--price">
                                $40.00
                            </div>
                        </div>
                        <a href="#" class="button">Add to cart</a>
                    </div>
                    <div class="product">
                        <img src="../assets/paintbox/product3.webp" class="product__image" width="220px" height="220px">
                        <div class="product__combo">
                            <div class="product__combo--category">
                                Power Couple
                            </div>
                            <div class="product__combo--title">
                                Like Desire + Like Dreams
                            </div>
                            <div class="product__combo--price">
                                $40.00
                            </div>
                        </div>
                        <a href="#" class="button">Add to cart</a>
                    </div>
                </div>
            </article>
            <article class="looks">
                <div class="looks__category">
                    Power Couples
                </div>
                <div class="looks__title">
                    Summer'20 Power Couple: Like Lilac + Like Muse
                </div>
                <div class="looks__samples">
                    <div class="looks__samples--image">
                        <img src="../assets/paintbox/nail1.jpg">
                    </div>
                    <div class="looks__samples--image">
                        <img src="../assets/paintbox/nail2.jpg">
                    </div>
                    <div class="looks__samples--image">
                        <img src="../assets/paintbox/nail3.jpg">
                    </div>
                    <div class="looks__samples--image">
                        <img src="../assets/paintbox/nail4.jpg">
                    </div>
                    <div class="looks__samples--image">
                        <img src="../assets/paintbox/nail5.jpg">
                    </div>
                    <div class="looks__samples--image">
                        <img src="../assets/paintbox/nail6.jpg">
                    </div>
                    <div class="looks__samples--image">
                        <img src="../assets/paintbox/nail7.jpg">
                    </div>
                    <div class="looks__samples--image">
                        <img src="../assets/paintbox/nail8.jpg">
                    </div>
                </div>
                <a href="#" class="button">New and now</a>
            </article>
        </section>
        <section class="blog">
            <article class="blog__post"></article>
            <article class="blog__post">
                <div class="blog__post--date">Jun 24, 2020</div>
                <div class="blog__post--title">Nail Inspiration: The Story Behind Our Summer 2020 Power Couple</div>
                <a href="#" class="button">
                    <span class="button__text">Read Story</span>
                    <span class="button__arrow">
                        <i class="fas fa-long-arrow-alt-right"></i>
                    </span>
                </a>
            </article>
            <article class="blog__post">
                <div class="blog__post--date">Jun 23, 2020</div>
                <div class="blog__post--title">New and Now: Summer 2020 Power Couple</div>
                <a href="#" class="button">
                    <span class="button__text">Read Story</span>
                    <span class="button__arrow">
                        <i class="fas fa-long-arrow-alt-right"></i>
                    </span>
                </a>
            </article>
            <article class="blog__post"></article>
            <article class="blog__post"></article>
            <article class="blog__post">
                <div class="blog__post--date">Jun 10, 2020</div>
                <div class="blog__post--title">Better Together: Our Commitment</div>
                <a href="#" class="button">
                    <span class="button__text">Read Story</span>
                    <span class="button__arrow">
                        <i class="fas fa-long-arrow-alt-right"></i>
                    </span>
                </a>
            </article>
        </section>
        <section class="contact">
            <article class="contact__email">
                <div class="contact__email--title">Join Our Conversation</div>
                <div class="contact__email--description">
                    Be the first to hear about new launches and enjoy 10% off your first polish order.
                </div>
                <form class="contact__email--form">
                    <input type="text" placeholder="Enter Your e-mail">
                    <button>
                        <i class="fas fa-arrow-right"></i>
                    </button>
                </form>
            </article>
            <article class="contact__sns">
                <div class="contact__sns--image"></div>
                <div class="contact__sns--image"></div>
                <div class="contact__sns--image"></div>
                <div class="contact__sns--image"></div>
                <div class="contact__sns--image"></div>
                <div class="contact__sns--image"></div>
                <div class="contact__sns--image"></div>
                <div class="contact__sns--image"></div>
            </article>
        </section>
    </main>
    <footer class="footer">
        <div class="footer__column">
            <div class="label">Support</div>
            <ul>
                <li>f.a.q</li>
                <li>Privacy Policy</li>
                <li>Terms and Conditions</li>
                <li>Accessibility</li>
            </ul>
        </div>
        <div class="footer__column">
            <div class="label">Follow Us</div>
            <ul>
                <li>Instagram</li>
                <li>Pinterest</li>
                <li>Facebook</li>
                <li>Newsletter</li>
            </ul>
        </div>
        <div class="footer__column">
            <div class="label">Paintbox</div>
            <ul>
                <li>Our Studios</li>
                <li>Careers</li>
                <li>Press</li>
                <li>Contact Us</li>
            </ul>
        </div>
    </footer>
</body>
</html>