//screen
$min-t: 768px;
$max-t: 1023px;

$min-pc: 1024px;

// colors
$signiture-red: #F12742;
$background-gray: #F3F4F4;
$subheading-gray: #696969;
$non-activated-gray: #D6D6D6;
$non-activated-font-gray: #aaaaaa;
$activated-gray: #656565;
$footer-gray: #818181;
$link-gray: #717171;
$news-letter-background-gray: #F8F8F8;
$footer-bottom-gray: #F3F3F3;