@mixin screen ($platform: false, $subPlatform: false) {
    @if ($platform == t and not $subPlatform) {
        @media screen and (min-width: $min-t) and (max-width: $max-t) {
            @content;
        }
    } @else if ($platform == t and $subPlatform == pc) {
        @media screen and (min-width: $min-t) {
            @content;
        }
    } @else if ($platform == pc) {
        @media screen and (min-width: $min-pc) {
            @content;
        }
    }
}

@mixin button() {
    display: inline-block;
    padding: 13px 18px;
    background-color: $signiture-red;
    border-radius: 9999px;
    cursor: pointer;
    line-height: 1;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.04rem;
}