@mixin screen($platform: false, $subPlatform: false) {
    @if ($platform == t) {
        @media screen and (min-width: $min-t) and (max-width: $max-t){
            @content;
        }
    } @else if ($platform == pc) {
        @media screen and (min-width: $min-pc) {
            @content;
        }
    }
}

@mixin a() {
    cursor: pointer;
    span {
        font-weight: 500;
        letter-spacing: 0.04rem;
    }
}

@mixin button() {
    padding: 13px 18px;
    background-color: $signiture-red;
    border-radius: 9999px;
    @include a();
}