@import "./constants.magic-leap";

* {
    box-sizing: border-box;
}

body {
    font-size: 4vw;
    font-family: 'Source Sans Pro', sans-serif;
}

.outer-header {
    width: 100%;
    height: 5.912vh;
    position: fixed;
    top: 0px;
    background-color: transparent;
}
.inner-header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .inner-header__branding-wrapper {
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0px 2.1341% 0 4.265%;
        cursor: pointer;
        .inner-header__branding-svg {
            fill: white;
        }
    }
    .inner-header__kit {
        height: 100%;
        margin: auto 0px;
        .inner-header__kit--shop-button {
            font-size: 3.8vw;
            font-weight: 900;
            display: inline-block;
            margin-left: 32px;
            cursor: pointer;
            border-radius: 9999px;
            padding: 9px 18px;
            background-color: white;
        }
        .inner-header__kit--toggle-button {
            width: 57px;
            height: 100%;
            cursor: pointer;
            padding: 0px 16px;
            .hamburger {
                width: 100%;
                height: 100%;
                position: relative;
                .hamburger__line {
                    position: absolute;
                    &:nth-child(1) {
                        top: 35%;
                        width: 100%;
                        height: 5px;
                        left: 0px;
                    }
                    &:nth-child(2) {
                        top: 56%;
                        width: 100%;
                        height: 5px;
                        left: 0px;
                    }
                }
            }
        }
    }
}

.wrapper-except-header {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    .main {
        min-height: 100vh;
    }
}
.main-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    .hero {
        min-height: 100vh;
        .hero-wrapper {
            height: 100vh;
            position: relative;
            padding-top: 45%;
            .hero-wrapper__contents {
                color: white;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .hero-wrapper__contents--heading {
                    width: 100%;
                    text-align: center;
                    font-style: italic;
                    font-size: 11vw;
                    font-weight: 500;
                    letter-spacing: 0.3px;
                    line-height: 1.2;
                    text-transform: uppercase;
                    margin-bottom: 5%;
                }
                .hero-wrapper__contents--subheading {
                    text-align: center;
                    font-size: 5vw;
                    font-weight: 700;
                    max-width: 80%;
                    margin-bottom: 7.5%;
                    line-height: 1.4;
                    letter-spacing: 0.7px;
                }
                .button {
                    padding: 13px 18px;
                    background-color: $signiture-red;
                    border-radius: 9999px;
                    a {
                        cursor: pointer;
                        span {
                            font-weight: 900;
                            letter-spacing: 0.5px;
                        }
                    }
                }
            }
            .hero-wrapper__video {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0px;
                left: 0px;
                z-index: -2;
            }
        }
    }
    .device-intro {
        background-color: $signiture-red;
        min-height: 100vh;
        .device-intro-wrapper {
            margin: 20% 5%;
            .device-intro-wrapper__image {
                max-width: 100%;
                height: auto;
                img {
                    width: 100%;
                    height: auto;
                }
            }
            .device-intro-wrapper__contents {
                max-width: 100%;
                height: auto;
                color: white;
                margin: 5% 7%;
                h2 {
                    font-style: italic;
                    font-size: 11vw;
                    text-transform: uppercase;
                    line-height: 1.1;
                    margin-bottom: 6%;
                }
                p {
                    font-size: 4.5vw;
                    line-height: 1.5;
                }
            }
        }
    }
}


