* {
    box-sizing: border-box;
}

.outer-header {
    width: 100%;
    height: 5.912vh;
    position: fixed;
    top: 0;
    background-color: transparent;
    .inner-header {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .inner-header__branding-wrapper {
            height: 100%;
            display: flex;
            align-items: center;
            padding: 0 2.1341% 0 4.265%;
            cursor: pointer;
            .inner-header__branding-svg {
                // fill: white;
            }
        }
    }
}

